<div class="modal" ng-show='modalShown'>
  <div class="group-overlay" ng-click='toggleModal()'></div>
  <div class="group-dialog">
    <!-- <div class="modalContent"></div> -->
        <div class='groupModal'>
          <br>
          <h1>Create Group</h1>
          <br>
          <input type="text" placeholder=" Group Name" ng-model="group.name">
          <br>
          <textarea rows="8" cols="40" placeholder=" Member email address - separated by comma" ng-model="group.users"></textarea>
          <br>
          <button type="button" ng-click="getUserByEmail(group.users, 'create')">Create Group</button>
        </div>
  </div>
</div>
