<div class="modal" ng-show='modalShown'>
  <div class="overlay" ng-click='toggleModal()'></div>
  <div class="dialog">
    <div class="modalContent"></div>
        <div class='groupModal'>
          <br>
          <h2>Create Group</h2>
          <br>
          <br>
          <input type="text" placeholder="Group Name" ng-model="group.name">
          <br>
          <textarea rows="8" cols="40" placeholder="Add member's email address" ng-model="group.users"></textarea>
          <br>
          <button type="button" ng-click="getUserByEmail(group.users)">Create Group</button>
        </div>
  </div>
</div>
