<div class="modal" ng-show='editModalShown'>
  <div class="edit-album-overlay" ng-click='editToggleModal()'></div>
  <div class="edit-album-dialog">
    <!-- <div class="album-edit-modalContent"></div> -->
        <div class='edit-album-modal'>
          <br>
          <h1>Edit Album</h1>
          <br>
          <br>
          <input type="text" placeholder="Album Title" ng-model="selectedAlbum.title">
          <br>
          <select ng-options="journal.photo as journal.title for journal in albumJournals" ng-model="selectedAlbum.albumCover"></select>
          <br>
          <button type="button" ng-click="updateAlbum(selectedAlbum)">Edit Album</button>
        </div>
  </div>
</div>
