<!-- <div class="navbar">
  <ul class="nav">
    <li class="nav-item"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></li>
    <li class="nav-item" ui-sref="home" ui-sref-active="active"><a>Home</a></li>
    <li class="nav-item" ng-click='toggleModal()'><a>Login</a></li>
    <li class="nav-item" ui-sref="signup" ui-sref-active="active"><a>Sign Up</a></li>
  </ul>
</div> -->

<header>
  <button class="hamburger">&#9776;</button>
  <button class="cross">&#735;</button>
</header>

<div class="menu">
  <ul>
    <a ui-sref="home" ui-sref-active="active"><li>Home</li></a>
    <a ng-click="toggleModal()"><li>Login</li></a>
    <a ui-sref="signup" ui-sref-active="active"><li>Sign Up</li></a>
    <!-- <a href="#"><li>LINK FOUR</li></a>
    <a href="#"><li>LINK FIVE</li></a> -->
  </ul>
</div>
