<div class="modal" ng-show='modalShown'>
  <div class="login-overlay" ng-click='toggleModal()'></div>
  <div class="login-dialog">
    <div class="loginModalContent"></div>
        <div class='loginModal'>
          <h1>Site Name</h1>
          <br>
          <input type="text" placeholder=" Email Address" ng-model="info.userEmail">
          <input type="password" placeholder=" Password" ng-model="info.password"><br>
          <button type="button" ng-click="login(info)">Login</button><br><br>
        </div>
  </div>
</div>
