<!-- <div class="navbar">
  <ul class="nav">
    <li class="nav-item"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></li>
    <li class="nav-item" ui-sref="group"><a>Groups</a></li>
    <li class="nav-item" ng-click="logout()"><a>Logout</a></li>
    <li class="nav-item"><a>{{user.name.firstName}} {{user.name.lastName}}</a></li>
  </ul>
</div> -->

<header>
  <button class="hamburger">&#9776;</button>
  <button class="cross">&#735;</button>
</header>

<div class="menu">
  <ul>
    <a ui-sref="group" ui-sref-active="active"><li>Groups</li></a>
    <a ng-click="logout()"><li>Logout</li></a>
    <a ui-sref="signup" ui-sref-active="active"><li>Welcome, {{user.name.firstName}} {{user.name.lastName}}!</li></a>
    <!-- <a href="#"><li>LINK FOUR</li></a>
    <a href="#"><li>LINK FIVE</li></a> -->
  </ul>
</div>
