@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Exo+2:900);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, p, li, button {
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-family: 'Lato', sans-serif;
}


body {
  overflow-x: hidden;
}

/*menu*/


header {
	width:100%;
	background:#A2DFE0;
	height:50px;
	line-height:50px;
}

.navbar {
  display: none;
}

.header-item p, i{
  display: inline-block;
  color: white;
  margin-left: 15px;
}

.header-item p {
  font-size: 20px;
}

.hamburger {
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:1;
}
.cross {
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:1;
}
.menu {
  z-index:1;
  font-weight:bold;
  font-size:0.8em;
  width:100%;
  background:#b5e0e0;
  position:absolute;
  text-align:center;}

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;}

.menu li {
  display: block;
  padding:15px 0 15px 0;
  border-bottom:#e8ffff 1px solid;}

.menu li:hover {
  display: block;
  background:#56d8d8;
  padding:15px 0 15px 0;
  border-bottom:#e8ffff 1px solid;}

.menu ul li a {
  text-decoration:none;
  margin: 0px; color:#fff;}

.menu ul li a:hover {
  color: #fff;
  text-decoration:none;}

.menu a {
  text-decoration:none;
  color:white;}

.menu a:hover {
  text-decoration:none;
  color:white;}

.glyphicon-home {
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}



/*menu end*/




.fullContainer {
  overflow: auto;
  height: calc(100vh - 50px);
}

/*navbar, home*/

.navbar {
  background: #A2DFE0;
  height: 50px;
  position: relative;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li{
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  list-style: none;
  margin: 10px 0 10px 10px;
}

.nav li a {
  text-align: center;
  padding: 14px 12px;
}

.home-baby-photo {
  width: 100%;
}

.home-description {
  width: 80%;
  margin: 30px auto;
  padding: 20px;
  font-size: 3vw;
  text-align: center;
  border: 8px dashed #A2DFE0;
  background: #ffedf5;
}

.home-description h2 {
  margin-top: 20px;
  color: #A2DFE0;
  font-size: 10vw;
}


.home-photo1 {
  width: 80%;
  box-shadow: 8px 8px 20px #aaa;
}

.home-photo2 {
  width: 80%;
  border-radius: 100%;
  opacity: 0.8;
  box-shadow: 8px 8px 20px #aaa;;
}



/*signup*/

.signup {
  text-align: center;
  padding-bottom: 10%;
  background-image: url(/img/ID-10060491.jpg);
  background-size: cover;
}

.signup img {
  margin-top: 30px;
  width: 90%;
}

.signup input {
  margin-bottom: 10px;
  width: 80%;
  height: 35px;
  border: 1px solid #f2f2f2;
  opacity: 0.9;
}

.signup input: focus{
  outline: none;
}

.signup button {
  width: 80%;
  height: 35px;
  background: #BBD994;
  color: white;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 300;
  border: none;
}



/*modal*/

.overlay {
  position:fixed;
  top:0;
  left: 0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}


/*login modal*/
.login-overlay {
  position:fixed;
  top:0;
  left: 0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
  z-index: 1;
}

.loginModal img {
  width: 90%;

}

.loginModalContent img {
  position: relative;
  width: 30px;
}

.loginModalContent {
  padding:10px;
  text-align: center;
}

.loginModal {
  text-align: center;
  z-index: 10;
}

.loginModal button {
  width: 80%;
  height: 45px;
  background: #8DAAD9;
  color: white;
  margin-top: 30px;
  font-size: 15px;
  border: none;
}

.loginModal input {
  /*margin-bottom: 10px;*/
  width: 80%;
  height: 40px;
  border: 2px solid #f2f2f2;
  opacity: 0.9;
}



.loginModal p{
  color: white;
}

.login-dialog {
  z-index: 2;
  position: fixed;
  width: 90%;
  height: 450px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #fff;
  background-image: url(/img/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}





/*create group modal*/
.group-overlay {
  position:fixed;
  top:0;
  left: 0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
  z-index: 1;
}

.groupModal {
  text-align: center;
  z-index: 10;
}

.groupModal button {
  width: 80%;
  height: 40px;
  background: #BBD994;
  color: white;
  margin-top: 30px;
  font-size: 15px;
  border: none;
}

.groupModal input {
  margin-bottom: 10px;
  width: 80%;
  height: 40px;
  border: 2px solid #f2f2f2;
  opacity: 0.9;
}


.groupModal h1{
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
}

.groupModal p{
  color: white;
}

.group-dialog {
  z-index: 2;
  position: fixed;
  width: 90%;
  height: 450px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #fff;
  background-image: url(/img/bg7.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.groupModal textarea{
  width: 80%;
  border: 2px solid #f2f2f2;
  opacity: 0.9;
}




/*journal modal*/

.journal-dialog {
  position: fixed;
  width: 250px;
  height: 450px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #fff;
  background: #8DAAD9;
  border-radius: 10px;
}

.journalModal {
  text-align: center;
  padding: 0 20px;
  font-size: 12px;
}

.journalModal h1 {
  margin-bottom: 10px;
  font-size: 45px;
}

.journalModal button {
  width: 70px;
  height: 30px;
  background: #F2A0CA;
  color: white;
  margin-top: 5px;
  font-size: 15px;
}

.journalModal input {
  margin-bottom: 10px;
  width: 150px;
  height: 20px;
  background: #fff;
}

.journalModal textarea {
  border: 2px solid #f2f2f2;
  width: 200px;
}


/*create album modal*/

.albumOverlay {
  position:fixed;
  top:0;
  left: 0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
  z-index: 1;
}

.albumModal {
  text-align: center;
  padding: 0 20px;
  font-size: 12px;
}

.albumModal img {
  margin-top: -20px;
  width: 100%;
}

.album-dialog {
  z-index: 1;
  position: fixed;
  width: 90%;
  height: 450px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #fff;
  background-image: url(/img/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.albumModal {
  margin-top: 50px;
}

.albumModal h1 {
  margin-top: 10px;
  font-size: 35px;
}

.albumModal button {
  width: 80%;
  height: 40px;
  background: #A2DFE0;
  border: none;
  color: white;
  margin-top: 15px;
  font-size: 15px;
}

.albumModal input {
  border: 1px solid #f2f2f2;
  margin-top: 20px;
  margin-bottom: 5px;
  width: 80%;
  height: 30px;
}


/*group edit*/

.edit-group-overlay {
  position:fixed;
  top:0;
  left: 0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
  z-index: 2;
}

.edit-group-modal-Content {
  padding:10px;
  text-align: center;
}


.edit-group-dialog {
  position: fixed;
  width: 90%;
  height: 450px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #fff;
  background-image: url(/img/bg4.jpg);
  background-size: cover;
  border-radius: 10px;
  z-index: 3;
}

.editGroupModal {
  text-align: center;
}

.editGroupModal h1 {
  margin-top: 50px;
  font-size: 35px;
}

.editGroupModal button {
  width: 80%;
  height: 35px;
  background: #F2A0CA;
  color: white;
  margin-top: 10px;
  font-size: 15px;
  border: none;
}

.editGroupModal input {
  margin-bottom: 10px;
  width: 80%;
  height: 30px;
  opacity: 0.9;
}

.editGroupModal textarea {
  width: 80%;
  border: 2px solid #f2f2f2;
  opacity: 0.9;
}

.email-list {
  margin: auto;
  margin-bottom: 10px;
  width: 80%;
  height: 70px;
  background: white;
  overflow: scroll;
  opacity: 0.9;
}

.editMembers button {
  width: 80%;
}

/*album edit*/

.edit-album-overlay {
  position:fixed;
  top:0;
  left: 0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
  z-index: 1;
}

.edit-album-dialog {
  position: fixed;
  width: 90%;
  height: 450px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #fff;
  background-image: url(/img/bg6.jpg);
  background-size: cover;
  border-radius: 10px;
  z-index: 1;
}

.edit-album-modal {
  text-align: center;
  padding: 0 20px;
  font-size: 12px;
}

.edit-album-modal h1 {
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 35px;
}

.edit-album-modal button {
  width: 80%;
  height: 40px;
  background: #F2A0CA;
  color: white;
  margin-top: 30px;
  font-size: 15px;
  border: none;
}

.edit-album-modal input {
  margin-bottom: 10px;
  width: 80%;
  height: 30px;
  opacity: 0.9;
}

.edit-album-modal select {
  background: #fff;
  height: 30px;
}


/*group*/


.groups {
  text-align: center;
  vertical-align: top;
  background: #ffedf5;
  width: 50%;
  display: inline-block;
  border: 1px solid white;
}


.group-name {
  font-size: 20px;
  font-weight: 700;
  height: 120px;
  word-wrap: break-word;
  margin-top: 15px;
  color:
}

.groupEditContainer {
  background: #fccce1;
  width: 100%;
  height: 35px;
}

.groupEdit {
  margin: 5px 5px;
  padding: 5px 10px;
  background: #F2A0CA;
  border: none;
}

.editGroup button {
  background: #F2A0CA;
}

.createGroupFooter {
  z-index: 1;
  text-align: center;
  width: 100%;
  height: 45px;
  position: fixed;
  bottom: 0;
  background-color: #F2A0CA;
}

.create-group {
  margin-top: 10px;
}

.create-group p {
  color: white;
}

/*album*/

.album-container {
  height: 150px;
}

.alternate {
  background-color: #f2f2f2;
}

.create-album {
  position: relative;
  text-align: center;
}

.create-album h1 {
  text-align: center;
  display: inline-block;
}

.album-list {
  text-align: center;
  padding-bottom: 45px;
}

.albums {
  background-color: #fcfcfc;
  width: 100%;
  /*float: left;*/
  height: 150px;
  background-color: white;
  position: relative;
}

.album-cover {
  width: 120px;
  height: 150px;
  float: right;
}

.album-name {
  position: relative;;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}

.album-name p{
  word-wrap: break-word;
  font-size: 25px;
  font-weight: 500;
}

.album_buttons{
  position: absolute;
  bottom: 10px;
  left: 25px;
}

.album_buttons button {
  margin: 5px 0;
  background: #F5E48E;
  padding: 2px 10px;
  border: none;
  border-radius: 5px;
}

.albumEdit {
  width: calc(100vw - 120px);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.createAlbumFooter {
  text-align: center;
  width: 100%;
  height: 45px;
  position: fixed;
  bottom: 0;
  background-color: #F2A0CA;
}

.create-album {
  margin-top: 10px;
}

.create-album p {
  color: white;
}

/*create journals*/

.create-journal {
  display: inline-block;
}

.create-journal h1 {
  text-align: center;
  display: inline-block;
}

.journal-list {
  width: 33.33%;
  height: 100px;
  display: inline-block;

}

.journal-list-photos {
  /*width: 32%;*/
  height: 100%;
}


.journal-list img{
  margin-bottom: -4px;
  height: 125px;
  width: 100%;
}

.createJournalEntryFooter {
  text-align: center;
  width: 100%;
  height: 45px;
  position: fixed;
  bottom: 0;
  background-color: #F2A0CA;
}

.create-journal {
  margin-top: 10px;
}

.create-journal p {
  color: white;
}



/*journal entry*/

.journal-entry {
  background-image: url(/img/bg5.jpg);
  text-align: center;
  padding: 20px 0;
  margin: 50px 20px;
}


.journal-entry input {
  width: 80%;
  height: 30px;
  background: white;
  border: 2px solid #f2f2f2;
  opacity: 0.9;
}

.journal-entry button {
  width: 100px;
  height: 30px;
  background: #8DAAD9;
  color: white;
  margin: 10px 20px;
  font-size: 15px;
  border: none;
}

.journal-entry p {
  font-size: 15px;
  color: #00a7c9;
}

.journal-entry textarea {
  margin-top: 10px;
  border: 2px solid #f2f2f2;
  opacity: 0.9;
}


/*journal detail*/

.journal {
  margin: 0 30px;
  text-align: center;
}

.journal-photo {
  margin: 25px;
  margin-top: 50px;
  padding: 20px;
  background: #eee6d8;
  background: -webkit-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -moz-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -o-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -ms-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  -moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);

  -webkit-transform:rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
  -webkit-backface-visibility:hidden;

  -webkit-transform:rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  -moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  box-shadow: -4px 4px 8px -4px rgba(0, 0, 0, .75);
}

.journal-photo:before { /*see the support section below to more info on using the :before psuedo element*/
  content: '';
  display: block;
  position: absolute;
  left:-15px; /*postion from the left side of the frame (positive value move the tape right, negative moves it left)*/
  top: -15px; /*position from the top of the frame (positive move it above the frame, negative below)*/
  width: 80px; /*width of the tape*/
  height: 30px; /*height of the tape*/
  background-color: rgba(222,220,198,0.7); /*colour of the tape, use rgba to make it slightly transparent*/
  /*rotate the tape 12 degrees anti-clockwise*/
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  -o-transform: rotate(-12deg);
  -ms-transform: rotate(-12deg);
}

.journal-photo:nth-child(even):before {
  left:150px;
  top: -15px;
  width: 55px;
  height: 25px;
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -o-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
}


.journal img {
  margin: 30px 0 10px;;
  width: 100%;
  max-height: 250px;
}

.journal-photo p {
  font-size: 15px;
  margin-bottom: -10px;
}

.journal-title {
  font-weight: 900;
}

.journal-contents {
  white-space: pre-wrap;
  font-size: 15px;
}

.journal-edit-buttons {
  margin-top: 5px;
  text-align: center;
}

.journal-edit-buttons button {
  color: #fff;
  border: none;
  width: 100px;
  height: 30px;
  padding: 5px 10px;
  margin: auto 20px;
  margin-top: 3px;
  background: #8DAAD9;
  font-size: 15px;
}

.editJournalFooter {
  z-index: 1;
  text-align: center;
  width: 100%;
  height: 45px;
  position: fixed;
  bottom: 0;
  background-color: #F2A0CA;
}

/*edit journal modal*/

.editJourlaModalContent {
  padding:10px;
  text-align: center;
}

.editJournalModal {
  text-align: center;
  z-index: 10;
}

.editJournalModal button {
  width: 80px;
  height: 30px;
  background: #F2A0CA;
  color: white;
  margin-top: 30px;
  font-size: 15px;
  border: none;
}

.editJournalModal input {
  margin-bottom: 10px;
  background: white;
  width: 80%;
  height: 25px;
  border: 2px solid #f2f2f2;
}

.editJournalModal h1{
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 10vw;
  font-weight: 700;
}

.editJournalModal p{
  color: white;
}

.edit-journal textarea {
  width: 80%;
  border: 2px solid #f2f2f2;
}

.edit-journal-dialog{
  z-index: 2;
  position: fixed;
  width: 250px;
  height: 450px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #fff;
  background-image: url(/img/bg8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

/*extra stuff*/

.spacer {
  position: absolute;
  bottom: 45;
  width: 100%;
  height: 90px;
}

.noGroup, .noAlbum, .noJournal {
  margin: 30px 20px 20px 20px;
  text-align: center;
  font-size: 25px;
}

.noAlbum img, .noJournal img, .noGroup img {
  width: 100%;
  box-shadow: 2px 2px 15px #898989;
}

.noAlbum p, .noJournal p, .noGroup p {
  margin-top: 30px;
}





/*media query*/

/*tablet*/

@media (min-width: 600px) {

  /*home description and photo*/
  .home-contents {
    text-align: center;
  }

  .home {
    text-align: center;
  }

  .home-description {
    text-align: center;
    width: 80%;
  }
  .home-baby-photo {
    width: 80%;
  }

  /*hamburger menu*/
  header {
    display: none;
  }

  .menu {
    display: none;
  }

  /*navbar appear for the bigger screen*/
  .navbar {
    display: inline-block;
    text-align: right;
    background: #A2DFE0;
    width: 100%;
    height: 80px;
    position: relative;
  }

  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .nav li{
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    list-style: none;
    margin: 12px 30px 20px 10px;
  }

  .nav li a {
    text-align: center;
    padding: 14px 12px;
  }


/*login dialog*/
  .login-dialog {
    padding-top: 95px;
    width: 450px;
    height: 650px;
  }

  .loginModal h1 {
    font-size: 50px;
    margin-bottom: 50px;
  }

  .loginModal input, .loginModal button {
    height: 40px;
  }

/*signup*/

  .signup {
    margin: auto;
    width: 60%;
  }


  .signup input, .signup button {
    height: 40px;
  }

  .signup button {
    margin-top: 50px;
    font-size: 20px;
  }


  /*navbar after login*/

  .afterLogin {
    display: inline-block;
    height: 80px;
  	line-height:80px;
  }

  .afterLogin .fa-arrow-circle-left  {
      font-size: 40px;
    }


  .menu a {
    height: 80px;
  }

  .header-item p, i{
    margin-left: 50px;
    font-size: 40px;
  }

  .hamburger {
    line-height:45px;
    padding:15px 15px 0px 15px;
    font-size:3em;
  }
  .cross {
    padding:15px 15px 0px 15px;
    font-size:7em;
  }
  .menu {
    z-index:1;
    font-weight:bold;
    font-size:0.8em;
    width:100%;
    background:#b5e0e0;
    position:absolute;
    text-align:center;
  }

  .menu li {
    font-size: 25px;
  }

  .menu li:hover {
    display: block;
    background:#56d8d8;
    padding:15px 0 15px 0;
    border-bottom:#e8ffff 1px solid;
  }

/*group*/

  .groups {
    border: 3px solid white;
  }

  .group-list {
    margin: auto;
    width: 70%;
  }

  .group-name {
    font-size: 35px;
    height: 200px;
  }

  .groupEditContainer {
    height: 50px;
  }

  .groupEdit {
    margin: 10px 10px;
    padding: 5px 20px;
    font-size: 15px;
  }

  .createGroupFooter, .createAlbumFooter, .createJournalEntryFooter, .editJournalFooter {
    height: 80px;
  }

  .create-group p, .create-album p, .create-journal p {
    font-size: 35px;
  }

/*edit group modal*/

  .edit-group-dialog {
    width: 450px;
    height: 650px;
  }

  .editGroupModal h1 {
    font-size: 50px;
    margin-bottom: 50px;
  }

  .editGroupModal input, .editGroupModal button {
    height: 40px;
  }
  .email-list {
    margin: auto;
    margin-bottom: 10px;
  }

/*create group modal*/

  .group-dialog {
    width: 450px;
    height: 650px;
  }

  .groupModal h1 {
    font-size: 50px;
    margin-bottom: 50px;
  }

  .groupModal input, .groupModal button {
    height: 40px;
  }

/*album list*/

  .album-list {
    width: 70%;
    margin: auto;
  }

  .album-container {
    height: 200px;
  }

  .albums {
    height: 200px;
  }

  .album-cover {
    width: 200px;
    height: 200px;
  }

  .album-name p {
    font-size: 35px;
  }

  .album_buttons {
    margin-bottom: 20px;
  }

  .album_buttons button {
    margin: 5px 0;
    padding: 5px 20px;
    font-size: 20px;
  }


/*album edit modal*/
  .edit-album-dialog {
    width: 450px;
    height: 650px;
  }

  .edit-album-modal h1 {
    font-size: 50px;
    margin-bottom: 50px;
  }

  .edit-album-modal input, .edit-album-modal button {
    height: 40px;
  }

  .edit-album-modal select {
    height: 25px;
  }

/*create album modal*/

  .album-dialog {
    width: 450px;
    height: 650px;
  }

  .albumModal h1 {
    font-size: 50px;
    margin-bottom: 50px;
  }

  .albumModal input, .albumModal button {
    height: 40px;
  }


/*journal list*/

  .journal-list img{
    height: 250px;
  }

/*journal entry*/

  .journal-entry {
    padding-top: 100px;
    width: 70%;
    height: 700px;
    margin: 70px auto;
  }

  .journal-entry p {
    font-size: 25px;
  }

  .journal-entry input {
    height: 40px;
  }

  .journal-entry textarea {
    width: 80%;
    height: 150px;
  }

  .journal-entry button {
    font-size: 20px;
    padding: 5px 20px;
    height: 50px;
    width: 200px;
  }


/*journal detail*/

  .journal {
    margin-bottom: 100px;
  }

  .journal-photo {
    margin: 80px auto;
    width: 450px;
    height: 550px;
  }

  .journal-photo:before {
    left:-50px;
    top: -20px;
    width: 170px;
    height: 40px;
    background-color: rgba(222,220,198,0.7);
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
  }

  .journal-photo:nth-child(even):before {
    left:150px;
    top: -15px;
    width: 55px;
    height: 25px;
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
  }





  .journal-photo img {
    max-width: 350px;
    max-height: 350px;
    margin-bottom: 20px;
  }

  .journal-photo p {
    font-size: 20px;
  }

  .journal-contents p {
    font-size: 25px;
  }

  .journal-edit-buttons {
    margin-top: 5px;
    text-align: center;
  }

  .journal-edit-buttons button {
    color: #fff;
    border: none;
    width: 150px;
    height: 45px;
    padding: 5px 20px;
    margin: 12px 20px;
    background: #8DAAD9;
    font-size: 20px;
    /*margin-bottom: 50px;*/
  }

/*journal list */

   .journal-list img{
      height: 250px;
  }



/*edit journal modal*/

/*login dialog*/
  .edit-journal-dialog {
    width: 450px;
    height: 650px;
  }

  .edit-journal h1 {
    font-size: 50px;
    margin-bottom: 50px;
  }

  .edit-journal input, .edit-journal button {
    height: 40px;
  }



} /*end of media query*/




@media (min-width: 850px) {

  .home-contents {
    text-align: center;
  }

  .home-baby-photo {
    width: 60%;
  }

  .home-description {
    text-align: center;
    width: 60%;
    padding: 20px;
    font-size: 2vw;
    border: 8px dashed #A2DFE0;
    background: #ffedf5;
  }

  .home-description h2 {
    margin-top: 20px;
    color: #A2DFE0;
    font-size: 10vw;
  }


/*signup*/

  .signup h1 {
  font-size: 80px;
  }

  .signup input, .signup button {
    height: 60px;
  }

  .signup button {
    margin-top: 50px;
    font-size: 30px;
  }



/*journal list*/

  .journal-list {
    width: 25%;

  }

  .journal-list img{
     height: 300px;
  }



}/*end of media query*/
