@import url(https://fonts.googleapis.com/css?family=Monofett|Quicksand:400,300);
@import url(https://fonts.googleapis.com/css?family=Sniglet:400);
@import url(https://fonts.googleapis.com/css?family=Cinzel:900,700,400);

* {
  margin: 0;
  padding: 0;
}

li, input, button {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-family: 'Monofett', cursive;
}

h2, p {
  font-family: 'Cinzel', serif;
}


/*navbar, home*/

.navbar {
  background: #F5E48E;
  height: auto;
  position: relative;
}


body {
    overflow-x: hidden;
}


.nav li{
  display: inline-block;
  text-decoration: none;
  font-size: 5vw;
  margin-top: 12.5px;
  margin-left: 20px;
  font-weight: bold;
}

.home-baby-photo {
  width: 100%;
}


/*signup*/

.signup {
  text-align: center;
  margin: 10%;
  padding-bottom: 10%;
  border: ridge 5px #F2A0CA;
  background: #edbdd5;
}

.signup h1 {
  margin-top: 30px;
  font-size: 50px;
}

.signup input {
  margin-bottom: 10px;
  width: 150px;
  height: 20px;
}

.signup button {
  width: 80px;
  height: 30px;
  background: #BBD994;
  color: white;
  margin-top: 15px;
  font-size: 15px;
}

/*modal*/

.modalContent img {
  position: relative;
  width: 30px;
}

.loginModal {
  text-align: center;
  z-index: 10;
}

.loginModal button {
  width: 80px;
  height: 30px;
  background: #8DAAD9;
  color: white;
  margin-top: 15px;
  font-size: 15px;
}

.loginModal input {
  margin-bottom: 10px;
  width: 150px;
  height: 20px;
}

.loginModal h1{
  margin-top: 30px;
  font-size: 50px;
}

.login-dialog {
  position: fixed;
  width: 250px;
  height: 450px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #fff;
  background: #A2DFE0;
  border: ridge 5px #69e0e0;;
  /*border: 2px solid #00a7c9;*/
}

.overlay {
  position:fixed;
  top:0;
  left: 0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}

.dialog {
  position: fixed;
  width: 70vw;
  height: 65vh;
  top: 50%;
  left: 50%;
  background: white;
  transform: translateY(-50%) translateX(-50%);
}

.modalContent {
  padding:10px;
  text-align: center;

}

.group-dialog {
  position: fixed;
  width: 250px;
  height: 450px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #fff;
  background: #8DAAD9;
  border: 2px solid #749de0;
}

.groupModal {
  text-align: center;
  padding: 0 20px;
  font-size: 12px;
}

.groupModal h1 {
  margin-top: 10px;
  font-size: 50px;
}

.groupModal button {
  width: 150px;
  height: 30px;
  background: #F2A0CA;
  color: white;
  margin-top: 15px;
  font-size: 15px;
}

.groupModal input {
  margin-bottom: 10px;
  width: 150px;
  height: 20px;
}

.groupModal textarea {
  width: 200px;
}


/*edit journal modal*/

/*.edit-journal {
  margin-top: -15px;
}

.edit-journal input {
  background: #fff;
}

.edit-journal h1 {
  margin-bottom: 10px;
}*/

.journal-dialog {
  position: fixed;
  width: 250px;
  height: 450px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #fff;
  background: #8DAAD9;
  border: 2px solid #749de0;
}

.journalModal {
  text-align: center;
  padding: 0 20px;
  font-size: 12px;
}

.journalModal h1 {
  margin-bottom: 10px;
  font-size: 45px;
}

.journalModal button {
  width: 70px;
  height: 30px;
  background: #F2A0CA;
  color: white;
  margin-top: 5px;
  font-size: 15px;
}

.journalModal input {
  margin-bottom: 10px;
  width: 150px;
  height: 20px;
  background: #fff;
}

.journalModal textarea {
  width: 200px;
}


/*create album modal*/

.albumModal {
  text-align: center;
  padding: 0 20px;
  font-size: 12px;
}

.album-dialog {
  position: fixed;
  width: 250px;
  height: 450px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #fff;
  background: #BBD994;
  border: 2px solid #95d83c;
}

.albumModal h1 {
  margin-top: 10px;
  font-size: 50px;
}

.albumModal button {
  width: 150px;
  height: 30px;
  background: #A2DFE0;
  color: white;
  margin-top: 15px;
  font-size: 15px;
}

.albumModal input {
  margin-bottom: 10px;
  width: 150px;
  height: 20px;
}

.albumModal select {
  background: #fff;
}


/*group*/

.create-group {
  display: inline-block;
  position: relative;
}

.family-photo {
  width: 100%;
}

.create-group h1 {
  text-align: center;
  display: inline-block;
}

.group-list {
  text-align: center;
  background: #BBD994;
  margin: 0 10%;
}

.group-name li{
  list-style: none;
  font-size: 20px;
  border: 1px solid lightgray;
}



/*album*/

.create-album {
  display: inline-block;
  position: relative;
}

.create-album h1 {
  text-align: center;
  display: inline-block;
}

.album-list {
  text-align: center;
  margin: 0 10%;
}

.album-cover {
  width: 250px;
  height: 250px;
}



/*create journals*/

.create-journal {
  display: inline-block;
}

.create-journal h1 {
  text-align: center;
  display: inline-block;
}

.journal-list {
  text-align: center;
  border: 10px double #A2DFE0;
  margin: 30px 25px;
}

.journal-list img{
  width: 250px;
  height: 250px;
}

.journal-title h2 {
  font-weight: 900;
}

.journal {
  margin: 10px 10px;
}

.journal-title {
  font-weight: bold;
}

.journal-relationship {
  font-weight: 700;
}

.journal-contents {
  white-space: pre-wrap;
}

.journal-entry {
  background: #F2A0CA;
  border: 5px solid #8DAAD9;
  text-align: center;
  padding: 20px 0;
  margin: 30px 20px;
}

.journal-entry h1 {
  margin-bottom: 20px;
}

.journal-entry input {
  width: 160px;
  height: 22px;
  background: white;
}

.journal-entry button {
  width: 80px;
  height: 30px;
  background: #8DAAD9;
  color: white;
  margin-top: 15px;
  font-size: 15px;
}

.journal-entry p {
  font-size: 10px;
  color: white;
}

.journal-entry textarea {
  margin-top: 10px;
}

/*footer*/
footer {
  background: black;
  height: 80px;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  z-index: -10;
}

.location, .hours, .sns {
  margin-top: 30px;
  flex: 1;
  text-align: center;
  font-size: 15px;
}
