<nav-directive></nav-directive>

<div class="group-list">

  <div class="groups" ng-repeat="group in groups track by $index">

    <div class="groups-list" ui-sref="album({groupId: group._id})">
        <div class="group-name"><p>{{group.name}}</p></div>
    </div>

    <div class="groupEditContainer">
      <button ng-if="user._id === group.admin" class="groupEdit" type="button" ng-click="toggleEditModal(); selectGroup(group._id)">Edit</button>
      <button ng-if="user._id === group.admin" class="groupEdit" type="button" ng-click="deleteGroup(group._id)">Delete</button>
      <edit-group ng-show="editModalShown"></edit-group>
    </div>

  </div>

  <div class="noGroup" ng-show="groups.length === 0">
    <img src="./img/group-example.png" alt="" />
    <p>Create groups, <br>create new memories now!</p>
  </div>
</div>

<div class="spacer"></div>

<footer class="createGroupFooter" ng-click="toggleModal()">
  <div class="create-group"><p>Create Group</p></div>
</footer>

<group-directive ng-show='modalShown'></group-directive>
