<nav-directive></nav-directive>
<div class="create-journal">
  <i class="fa fa-plus-square-o fa-2x" aria-hidden="true" ui-sref="journalentry({groupId: groupId, albumId: albumId})"></i>
  <h1>New Journal</h1>
  <i class="fa fa-arrow-left fa-2x" aria-hidden="true" ui-sref="album({groupId: groupId, albumId: albumId})"></i>
</div>


<div ng-repeat="journal in journals track by $index" class="journal-list">
  <img src="{{journal.photo}}"><br>
  <div class="journal">
    <div class="journal-date"><p>{{journal.date | date: MM/dd/yyyy}}<p></div><br>
    <div class="journal-title"><h2>{{journal.title}}<h2></div><br>
    <div class="journal-relationship"><p>{{journal.relationship}}<p></div><br>
    <div class="journal-contents"><p>{{journal.contents}}<p></div><br>
  </div>
  <div ng-if="user._id === journal.author">
    <button type="button" ng-click="selectJournal(journal); toggleJournalModal()">Edit</button>
      <edit-journal show="journalModalShown"></edit-journal>
    <button type="button" ng-click="deleteJournal(journal._id)">Delete</button>
  </div>
</div>
