
<nav-directive></nav-directive>
<div class="journal">
  <div class="journal-photo">
    <img src="{{journal.photo}}">
    <div class="journal-date"><p>{{journal.date | date: MM/dd/yyyy}}</p></div><br>
    <div class="journal-title"><p>{{journal.title}}</p></div><br>
    <div class="journal-relationship"><p>by {{journal.author.name.firstName}} {{journal.author.name.lastName}}</p></div><br>
  </div>
  <div class="journal-contents"><p>{{journal.contents}}<p></div><br>
</div>


<div class="spacer"></div>

<footer class="editJournalFooter">
  <div ng-show="user._id === journal.author._id" class="journal-edit-buttons">
    <button type="button" ng-click="selectJournal(journal); toggleJournalModal()">Edit</button>
      <edit-journal show="journalModalShown"></edit-journal>
    <button type="button" ng-click="deleteJournal(journal._id)" ui-sref="journal({groupId: groupId, albumId: albumId})">Delete</button>
  </div>
<footer>
