<nav-directive></nav-directive>
<div class="journal-entry">
  <p>Date:</p><input type="date" placeholder="Date" ng-model="journal.date"><br><br>
  <p>Title:</p><input type="text" placeholder="Title" ng-model="journal.title"><br><br>
  <p>Photo:</p><input type="file" fileread accept="image/*" ng-model='journal.photo'><br><br>
  <p>Journal Entry:</p><textarea rows="8" cols="40" placeholder="Journal Entry" ng-model=journal.contents></textarea><br><br>
  <button type="button" ng-click="postJournal(journal)" ui-sref="journal({groupId: groupId, albumId: albumId})">Submit</button>
  <button type="button" ui-sref="journal({groupId: groupId, albumId: albumId})">Cancel</button>
</div>
