<home-directive></home-directive>
<login-directive></login-directive>

<div class="signup fullContainer">
<img src="./img/instababy.png" alt="" />
  <br>
  <br>
  <div>
    <input type="text" placeholder="  First Name" ng-model="user.name.firstName"><br>
    <input type="text" placeholder="  Last Name" ng-model="user.name.lastName"><br>
    <input type="email" placeholder="  Email Address" ng-model="user.userEmail"><br>
    <input type="password" placeholder="  Choose a password" ng-model="user.password"><br>
    <button type="button" ng-click="createUser(user)">Sign Up</button>
  </div>
</div>
